.light-mode {
  --primary-color: #5624FD;
  --secondary-color: #EEE9FF;
  --hero-text-color: #EEE9FF;
  --background-color: #FFFFFF;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --gradient-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.28) 55%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dark-mode {
  --primary-color: #CBBBFE;
  --secondary-color: #05020D;
  --hero-text-color: #EEE9FF;
  --background-color: #080316;
  --overlay-color: rgba(0, 0, 0, 0.65);
  --gradient-color: linear-gradient(
    0deg,
    rgba(8, 3, 22, 1) 0%,
    rgba(8, 3, 22, 0.28) 55%,
    rgba(8, 3, 22, 0) 100%
  );
}
