.light-mode {
  --primary-color: #5624FD;
  --secondary-color: #EEE9FF;
  --hero-text-color: #EEE9FF;
  --background-color: #FFFFFF;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --gradient-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.28) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  --text-color: #080316;
  --card-color: #F8F8FA;
  --border-color: rgba(233, 235, 248, 0.8);
  --info-button-color: #637084;
  --action-border-color: rgba(5, 2, 13, 0.25);
  --action-text-color: rgba(5, 2, 13, 0.5);


}

.dark-mode {
  --primary-color: #CBBBFE;
  --secondary-color: #05020D;
  --hero-text-color: #EEE9FF;
  --background-color: #080316;
  --overlay-color: rgba(0, 0, 0, 0.65);
  --gradient-color: linear-gradient(
    0deg,
    rgba(8, 3, 22, 1) 0%,
    rgba(8, 3, 22, 0.28) 55%,
    rgba(8, 3, 22, 0) 100%
  );
  --text-color: #EEE9FF;
  --card-color: #1F1C23;
  --border-color: rgba(233, 235, 248, 0.25);
  --info-button-color: #8E8E8E;
  --action-border-color: rgba(233, 235, 245, 0.25);
  --action-text-color: rgba(233, 235, 245, 0.5);


}
