@import 'mixins';
@import 'theme';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

html{
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

button {
    background-color: initial;
    border: none;
    color: initial;
    padding: initial;
    font-size: initial;
    font-weight: initial;
    cursor: pointer;
    color: inherit;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}